@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: "Nunita",sans-serif;

}
 

/*NavBar*/

.navBar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(83, 159, 179);
  align-items: center;
  padding:10px 10px;
  
}
.navBar h2{
  font-size: 30px;
  color: rgb(77, 80, 71);
}
.navBar a{
  color: white;
  text-decoration: none;
}

.navBag{
  display: flex;
  align-items: center;
}

.bagQuantity{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: yellow;
  border-radius: 50%;
  font-size:14px;
  font-weight: 700;
  color: black;
}
.dataCategory {
  color: gray;
}

/*NotFound*/

/* Not Found */
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}
.notFound h2 {
  font-size: 55px;
}
.notFound p {
  font-size: 20px;
}

/* home */
.img{
  width:auto;
  height:200px;
  transform: scale(1);
  
}
.cardWidth{
  width:235px;
  border-radius: 10px;
}
.button1{
  margin-bottom: 20px;
  border:none;
  border-radius: 5px;
  background-color: rgb(211, 245, 148);
  padding:5px;
  
}
.cardWidth:hover{
  box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253);
}
.img:hover{
  transform: scale(1.1);
}
.max-content{
  overflow: hidden;
  height: 95px;
}
.card-title {
  overflow: hidden;
  height: 20px;
}

/* cart */
.cartRating {
  display: flex;
  align-items: center;
}

.cartContainer {
  padding: 2rem 4rem;
}
.cartContainer h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  background-color: rgb(83, 159, 179);
  margin-bottom: 30px;
  padding : 2px 0;
  border-radius: 6px;
}

.cartContainer .titles {
  margin: 2px 0 1px 0;
}
.cartContainer .titles h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.cartItem,
.cartContainer .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cartItem {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cartContainer .titles .producTitle {
  padding-left: 0.5rem;
}
.cartContainer .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cartItem .cartProduct {
  display: flex;
}
.cartItem .cartProduct img {
  height: fit-content;
  width: 170px;
  margin-right: 1rem;
}
.cartItem .cartProduct h3 {
  font-weight: 400;
}
.cartItem p {
  font-size: 12px;
}

.cartProductPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.cartProductTotalPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.cartItem .cartProduct button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cartItem .cartProduct button:hover {
  color: rgb(233, 62, 62);
}

.cartItem .cartProductQuantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cartItem .cartProductQuantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cartItem .cartProductQuantity .count {
  padding: 0.7rem 0;
}
.cartItem .cartProductTotalPrice {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cartSummary .clearBtn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.clearBtn:hover {
  color: rgb(233, 62, 62);
  border-color: rgb(233, 62, 62) ;
}
.cartCheckout {
  width: 270px;
  max-width: 100%;
}
.cartCheckout .subtotal {
  justify-content: space-between;
  font-size: 20px;
}
.cartCheckout .amount {
  font-weight: 700;
}
.cartCheckout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cartCheckout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continueShopping,
.startShopping {
  margin-top: 1rem;
}
.continueShopping a,
.startShopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continueShopping a span,
.startShopping a span {
  margin-left: 0.5rem;
}
.cartEmpty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

